
<ion-header class="myheader">
	<ion-navbar class="titulo" color="primary">
		<button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
</button>
		<ion-title>{{"menu.servicios" | translate}}</ion-title>
	</ion-navbar>
<img class="cabecera" [src]="gallery_service" width="100%">
</ion-header>

<ion-content padding class="has-header">
    <ion-list class="my-animation" *ngFor="let servicio of $servicios | async; let i = index">
  <ion-item-sliding *ngIf="i" (click)="detalles(servicio)">
    <ion-item>
    <ion-avatar item-left>
      <img src="assets/img/{{servicio.imagen}}" >
    </ion-avatar>
         <h2>{{servicio.nombre | translate}}</h2>
          <p>{{servicio.descripcion | translate}} </p>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button (click)="detalles()" color="primary">
        <ion-icon name="text"></ion-icon>
        Detalles
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
