page-services {
@keyframes MyAnimation {
  0% {
    padding-left: 1000px;
  }
  100% {
    padding-left: 0px;

  } 
}
@keyframes Cabecera {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes Titulo {
    0% {margin-left: -100px;}
    100% {margin-left: 0px;}
}
.my-animation {
  animation: MyAnimation 1s;
}

.cabecera{
    animation: Cabecera 4s;
    width: 100%;
}

.titulo{
    animation: Titulo 4s;
    background-color: blue;
}

}
