<ion-header class="myheader2">
  <ion-navbar class="titulo" color="primary">
             <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
</button>
    <ion-title >{{"menu.home" | translate}}</ion-title>
  </ion-navbar>
   <img class="cabecera" [src]="gallery" width="100%">
</ion-header>

<ion-content padding class="has-header">

    <ion-list class="my-animation" *ngFor="let noticia of $noticias | async; let i = index">
   <!--<ion-list class="my-animation" *ngFor="let servicio of servicios; let i = index">-->
  <ion-item-sliding *ngIf="noticia.title" (click)="detalles(noticia)">
    <ion-item>
    <ion-avatar item-left>
      <img [src]="'http://web.ntskoala.com/app/img/'+noticia.image" >
    </ion-avatar>
         <h2>{{noticia.title}}</h2>
          <p>{{noticia.message}} </p>

    </ion-item>



    <ion-item-options side="left">
      <button ion-button (click)="detalles()" color="primary">
        <ion-icon name="text"></ion-icon>
        Detalles
      </button>
    </ion-item-options>
    <ion-item-options side="right">
        <button ion-button color="favorite">
        <ion-icon name="checkmark-circle"></ion-icon>
       asistiré
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
